* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: dimgrey;
    --color-bg-primary: white;
    --color-secondary: grey;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: var(--color-secondary)

}

nav span {
    font-size: 50px;
    padding-left: 20px;
    background: var(--color-primary);
}

ul {
    display: flex;
    list-style-type: none;
    width: 250px;
    justify-content: space-between;
    margin-top: 100px;
}

a {
    color: black;
}

body{
    background-color: var(--color-bg-primary);
}

.backgroundPic {
    height: 280px;
    background: url(./valeria-nikitina-7HaJl7FZraQ-unsplash.jpg);
    background-size: cover;
    position: relative;
}

.main-title {
    background-color: var(--color-primary);
    padding: 10px;
    position: absolute;
    bottom: 20px;
}

.button{
    
}